@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow/Barlow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow-Medium";
  src: url("../fonts/Barlow/Barlow-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow-SemiBold";
  src: url("../fonts/Barlow/Barlow-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow-Bold";
  src: url("../fonts/Barlow/Barlow-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow-Light";
  src: url("../fonts/Barlow/Barlow-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Italic

@font-face {
  font-family: "Barlow-Italic";
  src: url("../fonts/Barlow/Barlow-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Barlow-MediumItalic";
  src: url("../fonts/Barlow/Barlow-MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Barlow-SemiBoldItalic";
  src: url("../fonts/Barlow/Barlow-SemiBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Barlow-BoldItalic";
  src: url("../fonts/Barlow/Barlow-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Barlow-LightItalic";
  src: url("../fonts/Barlow/Barlow-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
